@use "../../abstract/variables" as variables;
@use '../../abstract/mixins' as mixins;

// src/components/admin/AdminNav.scss


main{
    .admin-dashboard{
        background-color: mixins.theme(primary-white-color);
        min-height: 100vh;
        .admin-page{
          .admin-nav {
              background-color: mixins.theme(primary-black-color);
              color: mixins.theme(primary-white-color);
              padding: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;

              h2 {
                margin-bottom: 20px;
                font-size: 1.3rem;
              }
            
              .admin-menu {
                display: flex;
                gap: 20px;
            
                .nav-button {
                  padding: 10px 20px;
                  border-radius: 8px;
                  text-decoration: none;
                  color: mixins.theme(primary-white-color);
                  background-color: transparent;
                  border: 2px solid mixins.theme(primary-white-color);
                  transition: background-color 0.3s, transform 0.3s;
            
                  &:hover {
                    background-color: mixins.theme(primary-black-color-hover);
                    transform: translateY(-2px);
                  }
            
                  &.active {
                    background-color: mixins.theme(primary-color);
                    border-color: mixins.theme(primary-color);
                    color: mixins.theme(primary-white-color);
                  }
                }
              }
          }
          .content{
            .new-btn{
              margin-top: 1rem;
              display: flex;
              justify-content: end;
              padding-right: 4rem;
              button{
                border: 0;
                padding: 10px 20px;
                background-color: mixins.theme(primary-color);
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                color: mixins.theme(primary-white-color);
              }
            }
            .product-list{
              .product-item{
                .product-img{
                  .no-image{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-weight: 900;
                  }
                }
              }
            }
          }
        }
      }
      
}
@media (min-width: 1024px) {
  main{
    .admin-dashboard{
        
        .admin-page{
          .admin-nav {
              

              h2 {
                font-size: 2rem;
              }
            }
          }
        }
      }
}